@font-face { font-family:"Frutiger Neue"; font-weight: normal; font-style: normal; src:url("/public/images/fonts/true/dd178e8e-241c-40e4-8de9-517c03b90b59.woff") format("woff"),url("/public/images/fonts/true/5c8447f4-b7e3-462a-87f2-b823e98d6da5.ttf") format("truetype"); }
@font-face { font-family:"Frutiger Neue"; font-weight: normal; font-style: italic; src:url("/public/images/fonts/true/2c4bc2a0-6c0c-4a07-964d-ca4b46d894ea.woff") format("woff"),url("/public/images/fonts/true/b793bcb8-7a6f-43fd-ae6b-d60e13ba6f4d.ttf") format("truetype"); }
@font-face { font-family:"Frutiger Neue"; font-weight:   bold; font-style: normal; src:url("/public/images/fonts/true/7875f3d5-b62b-445c-8c9e-d65da1514e9d.woff") format("woff"),url("/public/images/fonts/true/1c242f4e-0c64-47cc-8cbc-e53d949280ba.ttf") format("truetype"); }
@font-face { font-family:"Frutiger Neue"; font-weight:   bold; font-style: italic; src:url("/public/images/fonts/true/98a7ec92-51b0-444c-91ac-8702b3d7a29b.woff") format("woff"),url("/public/images/fonts/true/7c492427-6dd9-4cc0-ae4b-8e26ba4b9e16.ttf") format("truetype"); }

body {
  font-family: 'Frutiger Neue', sans-serif;
  line-height: 1.5;
}
h1, h3, p {
  text-align: center;
}
.navbar {
  background-color: #9e86b2;
}
.navbar .navbar-nav > li > a,
.navbar .navbar-brand {
  color: #fff;
}
section.row {
  border-width: 1px 0px;
  border-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.30) 50%, rgba(0, 0, 0, 0) 100%) 5% / 1 / 0px stretch;
  box-sizing: border-box;
}
.carousel {
  margin: 60px 0 0;
  height: 500px;
}
#carousel-0 {
  background-image: url('/public/images/carousel/0.png');
}
#carousel-1 {
  background-image: url('/public/images/carousel/1.png');
}
#carousel-2 {
  background-image: url('/public/images/carousel/2.png');
}
.carousel-inner > .item {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
}
.carousel-control {
  background: rgba(0,0,0,.5);
}
#content .row,
#register, #signin {
  padding: 60px 0 50px;
}
.content .row {
  height: 800px;
}
.row,
#register, #signin {
  width: 100%;
}
ol {
  list-style-type: upper-roman;
}
ol ol {
  list-style-type: decimal;
}