$primary-color: #9E86B2;

$english-sans: "Seravek";
$chinese-sans: "Disabled Sans";

$h1-l-size: 3rem;
$h2-l-size: 2.5rem;
$h3-l-size: 2rem;
$h4-l-size: 1.5rem;

$h1-m-size: 2.5rem;
$h2-m-size: 2rem;
$h3-m-size: 1.5rem;
$h4-m-size: 1.3rem;

$h1-s-size: 2rem;
$h2-s-size: 1.5rem;
$h3-s-size: 1.3rem;
$h4-s-size: 1rem;
