.overlay {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-toggled {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

.overlay {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.95);
  background-attachment: fixed;
}
